$cor1: #913230;

@mixin font-title{
	/*font-family: 'Liu Jian Mao Cao', cursive;*/
	font-family: 'Comfortaa', cursive;
}
@mixin font-body{
	font-family: 'Open Sans', sans-serif;
	
}

.login{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content:center;
	.login-1{
		background: url("../img/fundo.jpg");
		height: 100%;
		width:50%;
		background-repeat: no-repeat;
		background-size: cover;
		@media only screen and (max-width: 992px) {
			width:10%;
		}
	}
	.login-2{
		background: #fff;
		width:50%;
		display: flex;
		align-items: center;
		justify-content:center;
		@media only screen and (max-width: 992px) {
			width:90%;
		}
		h1{
		 @include font-title;
		 text-align: center;
		 letter-spacing: 0.168em;
		 font-size:1.5em;
		 margin-bottom: 50px;
		}
		.login-content{
			width: 77%;
			.input-login{
				border: 1px solid #dcdcdc;
				height: 45px;
				width: 210px;
				color: #383838;
				padding: 5px 5px 5px 5px;
				margin-top: 2px;
				@include font-body;
			}
			
			p{
				@include font-title;
				font-size: 1em;
				a{
					color: $cor1;
					&:hover{
						 text-decoration: underline;
						 cursor: pointer;
					}
				}
			}
			h5{
				text-align: center;
				@include font-title;
				margin-top: 20px;
				&:hover{
					cursor: pointer;
					color: $cor1;
				}
			}
		}
		
	}
}

@mixin center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.center{
	@include center;
}
.cadastro{
	
	min-height: 100vh;
	height: 100vh;
	display: flex;
	.conteudo{
		width: 100%;
		margin: 0;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content:center;
		.conteudo-1{
			background: url("../img/login.jpg");
			height: 100%;
			width:50%;
			background-repeat: no-repeat;
			background-size: cover;
			@media only screen and (max-width: 992px) {
				width:10%;
			}
		}
		.conteudo-2{
			background: #fff;
			width:50%;
			display: flex;
			align-items: center;
			justify-content:center;
			@media only screen and (max-width: 992px) {
				width:90%;
			}
			.btn-cadastro{
				width: 100%;
				height: 50px;
				text-transform: uppercase;
				height: 45px;
				border-radius: 5px;
				@include font-body;
				font-size:0.9em;
				font-weight: 600;
				
			}
		}
		.cadastro-content{
			width: 77%;

		}

		h1{
			 @include font-title;
			 letter-spacing: 0.168em;
			 font-size:1.5em;
			 margin-bottom: 50px;
			 text-transform: uppercase;
		}
		.row{
			margin-bottom: 20px;
		}
		
	}
}


.btn{
	background: $cor1;
	color: #f1f1f1;
	min-width: 180px;
	margin-right: 5px;
	margin-top: 5px;
	&:hover{
		background: darken($cor1, 10%);
		color: #fff;
	}
}

label{
	color: #20232a;
	@include font-body;
	font-size: 1rem;
}


.form-group {
    position: relative;
    display: flex;
    width: 100%;
    & > span,
    .form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 6px 0 0 6px;
        }
        &:last-child {
            border-radius: 0 6px 6px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 8px 12px;
        font-size: 14px;
        height: calc(1.5em + .75rem + 2px);
		color: #1c1c1c;
        border: 1px solid #dfdfdf;
		background: #e3e3e3;
		cursor: pointer;
		transition: background .3s ease, border .3s ease, color .3s ease;
    }
    
}

.aplicacao{
	.conteudo{
		margin: 0;
		min-height: 100vh;
		width: 100%;
		padding: 20px;
		padding-left: 60px;
		padding-right: 60px;
		/*background-image: linear-gradient( to right, #fff 72%, rgba($cor1, .3) 25%, rgba($cor1, .3) 60%); */
		@media only screen and (max-width: 992px) {
			padding-left: 10px;
			padding-right: 10px;
		}
		h1{
		 @include font-title;
		 letter-spacing: 0.168em;
		 font-size:1.5em;
		 margin-bottom: 50px;
		}
		
		.image{
			background: #f1f1f1;
			width: 100%;
			border-radius: 5px;

		}	
	}	
}

$gray: #000;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: darken($cor1, 90%);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.1rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $cor1;
    font-weight:500;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, $cor1,lighten($cor1, 20%));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.btn-init{
				width: 80%;
				height: 45px;
				margin-top: 10px;
				border: 1px solid $cor1;
				background: $cor1;
				color: #fff;
				border-radius: 5px;
				@include font-body;
				font-size:0.9em;
				font-weight: 600;
				margin-bottom: 30px;
				&:hover{
					background: rgba($cor1, 0.8);
				}
			}